<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="minerURL" value="192.168.1.2,192.168.1.3" />
    <add key="minerPort" value="3344,3344" />
    <add key="minerPassword" value="password,password" />
    <add key="comedURL" value="https://hourlypricing.comed.com/" />
    <add key="priceRequest" value="api?type=currenthouraverage" />
    <add key="priceLimit" value="10" />
    <add key="timeInterval" value="300000" />
  </appSettings>
</configuration>